@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AuthorizationService _AuthorizationService
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @if (IsLogged)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Backend">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Backend
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Logout">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Logout
                </NavLink>
            </li>
        }
        @if (!IsLogged)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Login">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Login
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private bool IsLogged = false;

    public void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        _AuthorizationService.OnChanged += _AuthorizationService_Change;
    }

    void _AuthorizationService_Change(object sender, EventArgs e)
    {
        IsLogged = _AuthorizationService.IsLogged;
        StateHasChanged();
    }
}
